@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #3a3a3a;
  --primary: #022a9a;
  --success: #1c8367;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-success: var(--success);
}

* {
  @apply text-balance;
}

.container {
  @apply mx-auto px-5;
}
